## This program creates Neighborhood Delination across different time period

In [1]:
#!/usr/bin/env python
# coding: utf-8
import json, math, copy, sys
from geosnap.io import store_ltdb
from geosnap import Community, datasets
from geosnap.io import store_census
import pandas as pd
import shapely.wkt
import shapely.geometry
from datetime import datetime
from datetime import timedelta
from pathlib import Path
import urllib.parse
import webbrowser
import os
import pprint
from sklearn.preprocessing import minmax_scale
import numpy as np
from scipy import stats
from notebook import notebookapp
from IPython.core.display import display, HTML
import geopandas as gpd

Loading manifest: 100%|███████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1999.19entries/s]
Loading manifest: 100%|███████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 4739.33entries/s]
Loading manifest: 100%|███████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 5000.36entries/s]
Loading manifest: 100%|███████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1994.44entries/s]

### Variable names in "variable" column are needed to use built-in data from geosnap.

In [2]:
datasets.codebook().head()

,variable,label,formula,ltdb,ncdb,census_1990_form,census_1990_table_column,census_2000_form,census_2000_table_column,acs,category,notes
0,geoid,FIPS code,NaN,geoid,GEO2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,n_mexican_pop,persons of Mexican parentage or ancestry,NaN,mex,MEXIC,SF1,P0090001,SF1,PCT011004,B03001_004E,Ethnicity & Immigration,NaN
2,n_cuban_pop,persons of Cuban parentage or ancestry,NaN,cuban,CUBAN,SF1,P0090004,SF1,PCT011006,B03001_006E,Ethnicity & Immigration,NaN
3,n_puerto_rican_pop,persons of Puerto Rican parentage or ancestry,NaN,pr,PRICAN,SF1,P0090003,SF1,PCT011005,B03001_005E,Ethnicity & Immigration,NaN
4,n_russian_pop,persons of Russian/USSR parentage or ancestry,NaN,ruanc,NaN,SF3,P0330022,SF3,PCT016064+PCT016053+PCT016052+PCT016037,B04004_064E,Ethnicity & Immigration,ruancXX (page 17 of LTDB codebook) suggests th...

### Run clustering using Data received from Users. csv and shapefile received from the user in this example

In [3]:
param = {
    'title': "Longitudinal Neighborhood Change, Cook County (tract level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_Temporal_1980_1990_2000_2010_from_file",           
    'inputCSV': "attributes/LTDB_2018_1990_2000_2010__tract_Cook_byTract_normalized.csv",   
    'shapefile': "shp/Cook_County_Tract.shp", 
    'layers': [1980, 1990, 2000, 2010],           # Available years: 1970, 1980, 1990, 2000 and 2010
    'method': "kmeans",                          # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                                 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                              # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [      #Variables are column headers of your CSV
            "p_nonhisp_white_persons",
            "p_nonhisp_black_persons",
            "p_hispanic_persons",
            "p_asian_persons",
            "p_foreign_born_pop",
            "p_edu_college_greater",
            "p_unemployment_rate",
            "p_employed_manufacturing",
            "p_poverty_rate",
            "p_vacant_housing_units",
            "p_owner_occupied_units",
            "p_housing_units_multiunit_structures",
            "median_home_value",
            "p_structures_30_old",
            "p_household_recent_move",
            "p_persons_under_18",
            "p_persons_over_60",       
                 ],
    #'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
    'Maps_of_Categorical_Data': True,    #Choropleth Maps visualizing categorical data
    'Stacked_Chart': True,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': True, #Quantifies Changes over multiple periods
    'Chord_Diagram': False               #Quantifies Change between two periods
}

### Run clustering using Data received from Users. csv and shapefile received from the user in this example

In [72]:
param = {
    'title': "Neighborhood, Cook County (tract level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_2018_from_ACS", 
    'inputCSV': "attributes/ACS_2018_5year__tract_Cook_byTract_normalized.csv",   
    'shapefile': "shp/Cook_County_Tract.shp", 
    'layers': [2018],           
    'method': "kmeans",                          # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                                 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                              # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [     #Variables are column headers of your CSV
            "Median monthly housing costs",
            "% below poverty",
            "% unemployed",
            "% with 4year college degree",
            "% manufacturing",
            "% service industry",
            "% structures more than 30 years old",
            "% households moved <10 years ago",
            "% multiunit structures",
            "% owner occupied housing",
            "% vacant housing",
            "% > 60 years old",
            "% < 18 years old",
            "% white",
            "% Asian",
            "% Hispanic",
            "% black",
            "% foreign born"       
                 ],
    'Maps_of_Categorical_Data': True,     #Choropleth Maps visualizing categorical data
    'Stacked_Chart': False,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': False, #Quantifies Changes over multiple periods
    'Chord_Diagram': False                #Quantifies Change between two periods
}

### Run clustering using Data received from Users. csv and shapefile received from the user in this example

In [125]:
param = {
    'title': "Neighborhood, Cook County (zipcode level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_2018_from_ACS_zipcode", 
    'inputCSV': "attributes/ACS_2018_5year__zipcode_Cook_byZipcode_normalized.csv",   
    'shapefile': "shp/zipcode_Cook_County.shp", 
    'layers': [2018],           
    'method': "kmeans",                          # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                                 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                              # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [     #Variables are column headers of your CSV
            "Median monthly housing costs",
            "% below poverty",
            "% unemployed",
            "% with 4year college degree",
            "% manufacturing",
            "% service industry",
            "% structures more than 30 years old",
            "% households moved <10 years ago",
            "% multiunit structures",
            "% owner occupied housing",
            "% vacant housing",
            "% > 60 years old",
            "% < 18 years old",
            "% white",
            "% Asian",
            "% Hispanic",
            "% black",
            "% foreign born"       
                 ],
    'Maps_of_Categorical_Data': True,     #Choropleth Maps visualizing categorical data
    'Stacked_Chart': False,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': False, #Quantifies Changes over multiple periods
    'Chord_Diagram': False                #Quantifies Change between two periods
}

### Run clustering using built-in data from geosnap (four periods)

In [96]:
param = {
    'title': "Longitudinal Neighborhood Change, Cook County (tract level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_Temporal_1980_1990_2000_2010",
    'state_fips': None,    #fips code is avaiable for every US state at https://github.com/suhanmappingideas/geosnap-viz/blob/master/state_id.csv
    'msa_fips': None,      #For more options: http://su-gis.iptime.org/LNE/pick_POI.html
    'county_fips': "17031",#county code is also availabe in the link right above.         
    'layers': [1980,1990,2000,2010],   # Available years: 1970, 1980, 1990, 2000 and 2010
    'method': "kmeans",               # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                      # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                   # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [  #Pick variables in the variable column from template/conversion_table_codebook.csv
            "p_nonhisp_white_persons",
            "p_nonhisp_black_persons",
            "p_hispanic_persons",
            "p_asian_persons",
            "p_foreign_born_pop",
            "p_edu_college_greater",
            "p_unemployment_rate",
            "p_employed_manufacturing",
            "p_poverty_rate",
            "p_vacant_housing_units",
            "p_owner_occupied_units",
            "p_housing_units_multiunit_structures",
            "median_home_value",
            "p_structures_30_old",
            "p_household_recent_move",
            "p_persons_under_18",
            "p_persons_over_60",        
                 ],
    #'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
    'Maps_of_Categorical_Data': True,    #Choropleth Maps visualizing categorical data
    'Stacked_Chart': True,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': True, #Quantifies Changes over multiple periods
    'Chord_Diagram': False               #Quantifies Change between two periods
}

### Run clustering using built-in data from geosnap (two periods)

In [112]:
param = {
    'title': "Longitudinal Neighborhood Change, Cook County (tract level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_Temporal_1980_2010",              # "Albertville"
    'state_fips': None,    #fips code is avaiable for every US state at https://github.com/suhanmappingideas/geosnap-viz/blob/master/state_id.csv
    'msa_fips': None,      #For more options: http://su-gis.iptime.org/LNE/pick_POI.html
    'county_fips': "17031",#county code is also availabe in the link right above.
    'layers': [1980, 2010],          # Available years: 1970, 1980, 1990, 2000 and 2010
    'method': "kmeans",             # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                    # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                 # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [    #Pick variables in the variable column from template/conversion_table_codebook.csv
            "p_nonhisp_white_persons",
            "p_nonhisp_black_persons",
            "p_hispanic_persons",
            "p_asian_persons",
            "p_foreign_born_pop",
            "p_edu_college_greater",
            "p_unemployment_rate",
            "p_employed_manufacturing",
            "p_poverty_rate",
            "p_vacant_housing_units",
            "p_owner_occupied_units",
            "p_housing_units_multiunit_structures",
            "median_home_value",
            "p_structures_30_old",
            "p_household_recent_move",
            "p_persons_under_18",
            "p_persons_over_60",        
                 ],
    #'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
    'Maps_of_Categorical_Data': True,    #Choropleth Maps visualizing categorical data
    'Stacked_Chart': True,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': True, #Quantifies Changes over multiple periods
    'Chord_Diagram': False               #Quantifies Change between two periods
}

### Run clustering using built-in data from geosnap (Sequence Analysis is included)

In [99]:
param = {
    'title': "Longitudinal Neighborhood Change, Cook County (tract level)",
    'subject': "NEIGHBORHOOD",
    'filename_suffix': "Cook_Temporal_1980_1990_2000_2010_Sequence",              
    'state_fips': None,    #fips code is avaiable for every US state at https://github.com/suhanmappingideas/geosnap-viz/blob/master/state_id.csv
    'msa_fips': None,      #For more options: http://su-gis.iptime.org/LNE/pick_POI.html
    'county_fips': "17031",#county code is also availabe in the link right above.     
    'layers': [1980,1990,2000,2010], # Available years: 1970, 1980, 1990, 2000 and 2010
    'method': "kmeans",             # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
                                    # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
    'nClusters': 6,                 # This option should be commented out for affinity_propagation, hdbscan and max_p 
    'variables': [                  #Pick variables in the variable column from template/conversion_table_codebook.csv    
            "p_nonhisp_white_persons",
            "p_nonhisp_black_persons",
            "p_hispanic_persons",
            "p_asian_persons",
            "p_foreign_born_pop",
            "p_edu_college_greater",
            "p_unemployment_rate",
            "p_employed_manufacturing",
            "p_poverty_rate",
            "p_vacant_housing_units",
            "p_owner_occupied_units",
            "p_housing_units_multiunit_structures",
            "median_home_value",
            "p_structures_30_old",
            "p_household_recent_move",
            "p_persons_under_18",
            "p_persons_over_60",        
                 ],
    'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
    'Maps_of_Categorical_Data': True,    #Choropleth Maps visualizing categorical data
    'Stacked_Chart': True,               #Visualize Temporal Change over periods
    'Parallel_Categories_Diagram': True, #Quantifies Changes over multiple periods
    'Chord_Diagram': False               #Quantifies Change between two periods
}

In [4]:
# select community by state_fips, msa_fips, county_fips
community = None
if ('msa_fips' in param and param['msa_fips']):
    community = Community.from_ltdb(years=param['layers'], msa_fips=param['msa_fips'])
elif ('county_fips' in param and param['county_fips']):
    community = Community.from_ltdb(years=param['layers'], county_fips=param['county_fips'])
elif ('state_fips' in param and param['state_fips']):
    community = Community.from_ltdb(years=param['layers'], state_fips=param['state_fips'])

# if the user enters CSV and shapefile, use the files from the user

# This is executed when the user enter attributes in csv file and geometroy in shapefile ######################  
if (community is None and 'inputCSV' in param and param['inputCSV']):
    community = Community()
    community.gdf = pd.read_csv(param['inputCSV'], dtype={'geoid':str})
    geoid = community.gdf.columns[0]
    #community.gdf = community.gdf.astype(str)
    #print("inputCSV:  " + community.gdf.geoid)        
    community.gdf['geoid'] = community.gdf['geoid'].astype(str)
    #print("community.gdf.columns[0]:", community.gdf.columns[0])
    
    # read shape file to df_shape
    df_shape = gpd.read_file(param['shapefile'])
    df_shape = df_shape.astype(str)     
    #print("shapefile:  " + df_shape.GEOID10)        
    df_shape = df_shape.set_index("GEOID10")
    
    # insert geometry to community.gdf
    geometry = []
    for index, row in community.gdf.iterrows():
        tractid = row[geoid]
        try:
            tract = df_shape.loc[tractid]
            geometry.append(shapely.wkt.loads(tract.geometry))
        except KeyError:
            #print("Tract ID [{}] is not found in the shape file {}".format(tractid, param['shapefile']))
            geometry.append(None)
    community.gdf.insert(len(community.gdf.columns), "geometry", geometry)
    # need to change layer to year for clustering computation in the later stage
    community.gdf.rename(columns={'layer':'year'}, inplace=True)
################################################################################################################      
    
community.gdf = community.gdf.replace([np.inf, -np.inf], np.nan)

# check if geometry is not null for Spatial Clustering
community.gdf = community.gdf[pd.notnull(community.gdf['geometry'])]

#community.gdf.to_csv('LTDB_2018_1990_2000_2010__tract_Cook_byTract_normalized.csv')
community.gdf

,geoid,year,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,...,n_widowed_divorced,n_white_persons,n_total_housing_units_sample,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled,geometry
0,17031010100,1980,199.260498,642.615112,482.210419,0.0,347.709564,1646.888062,0.000000,59.778149,...,812.982849,NaN,2964.000000,6.403551,0.951022,0.190204,0.0,0.000000,3.407830,"POLYGON ((-87.67719899983393 42.0229420001732,..."
1,17031010201,1980,86.901924,146.249573,170.977768,0.0,519.291992,987.008057,16.956472,8.478236,...,1049.181763,NaN,2804.883301,20.415481,0.148386,0.210214,0.0,0.296773,3.956968,POLYGON ((-87.68465300003589 42.01948499993284...
2,17031010202,1980,36.098076,60.750423,71.022232,0.0,215.708023,409.991974,7.043527,3.521764,...,435.818237,NaN,1165.116821,20.415482,0.148386,0.210214,0.0,0.296773,3.956968,"POLYGON ((-87.67682999990456 42.0194110001176,..."
3,17031010300,1980,79.000000,81.000000,157.000000,0.0,389.000000,698.000000,27.000000,50.000000,...,1484.000000,NaN,3359.000000,26.352395,0.772798,0.865533,0.0,0.417311,2.998454,POLYGON ((-87.67132999987956 42.01937400021001...
4,17031010400,1980,7.000000,10.000000,10.000000,0.0,234.000000,358.000000,14.000000,0.000000,...,712.000000,NaN,2363.000000,17.813015,0.000000,0.473641,0.0,0.288303,3.088962,POLYGON ((-87.66345299995595 42.01282999970476...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5267,17031843700,2010,20.000000,0.000000,64.000000,0.0,320.000000,513.000000,NaN,NaN,...,182.000000,NaN,992.000000,NaN,NaN,NaN,NaN,NaN,NaN,POLYGON ((-87.69682900035804 41.94966999997058...
5268,17031843800,2010,46.000000,298.000000,12.000000,0.0,104.000000,583.000000,NaN,NaN,...,221.000000,NaN,892.000000,NaN,NaN,NaN,NaN,NaN,NaN,POLYGON ((-87.64553800027846 41.80886399977385...
5269,17031843900,2010,0.000000,623.000000,2.000000,0.0,0.000000,735.000000,NaN,NaN,...,905.000000,NaN,2321.000000,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.59294999974264 41.7750790002957,..."
5270,17031980000,2010,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,NaN,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,POLYGON ((-87.94024700029877 42.00717199958814...
5271,17031980100,2010,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,NaN,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,POLYGON ((-87.76230199973747 41.79273599976665...

## Write index.html

In [5]:
#Create a new folder where GEO_CONFIG.js GEO_JSON.js VARIABLES.js will be saved
oDir = 'QUAL_' + param['filename_suffix']
path = Path(oDir + '/data')
path.mkdir(parents=True, exist_ok=True)

contents = []
#open Neighborhood_Analysis_Mapper.html (the excutable file for the visualization)
ifile = open("template/Qualitative_Analysis_Mapper.html", "r", encoding="utf-8")
contents = ifile.read()

#Replace variables based on the user's selection in each of four files below.
contents = contents.replace("Neighborhood Analysis Mapper", param['title'])
contents = contents.replace("data/CONFIG.js", "data/CONFIG_"+param['filename_suffix']+".js")
contents = contents.replace("data/GEO_JSON.js", "data/GEO_JSON_"+param['filename_suffix']+".js")
contents = contents.replace("data/VARIABLES.js", "data/VARIABLES_"+param['filename_suffix']+".js")

#write new outfiles: GEO_CONFIG.js GEO_JSON.js VARIABLES.js
ofile = open(oDir+"/index.html", "w", encoding="utf-8")
ofile.write(contents)
ofile.close()

cwd = os.getcwd()
fname =urllib.parse.quote('index.html')
template_dir = os.path.join(cwd, 'QUAL_' + param['filename_suffix'])
url = os.path.join(template_dir, fname)    
print("Your HTML file has been created. Here is your html file: " + url)

Your HTML file has been created. Here is your html file: F:\Github\MapLinksPlot\PYTHON_Categorical_Data_VIZ\QUAL_Cook_Temporal_1980_1990_2000_2010_from_file\index.html

## Write GEO_CONFIG_XXX.js

In [6]:
# read ACM_GEO_CONFIG.js
ifile = open("template/QUAL_CONFIG.js", "r", encoding="utf-8")
contents = ifile.read()

SubjectName = "";
Maps_of_neighborhood = True;               
Temporal_change_in_neighborhoods = True;
Parallel_Categories_Diagram_in_neighborhoods = True;
Chord_Diagram_in_neighborhoods = True;

if ('subject' in param): SubjectName =  param['subject']
if ('Maps_of_Categorical_Data' in param): Maps_of_Categorical_Data =  param['Maps_of_Categorical_Data']
if ('Stacked_Chart' in param): Stacked_Chart =  param['Stacked_Chart']
if ('Parallel_Categories_Diagram' in param): Parallel_Categories_Diagram =  param['Parallel_Categories_Diagram']
if ('Chord_Diagram' in param): Chord_Diagram =  param['Chord_Diagram']

# perpare parameters
NumOfMaps = len(param['layers'])

InitialLayers = []
if (len(param['layers']) <= 1): InitialLayers = []
for i, layer in enumerate(param['layers']):
	InitialLayers.append(str(layer))
InitialLayers

['1980', '1990', '2000', '2010']

In [7]:
NumOfMaps = len(InitialLayers)
# Automatically set Map_width, Map_height. 
Map_width = "300px"
Map_height = "300px"
if (NumOfMaps <= 6):
    Map_width = "300px"
    Map_height = "300px"    
if (NumOfMaps <= 5):
    Map_width = "350px"
    Map_height = "350px"
if (NumOfMaps <= 4):
    Map_width = "400px"
    Map_height = "400px"
if (NumOfMaps <= 3):
    Map_width = "400px"
    Map_height = "400px"
if (NumOfMaps <= 2):
    Map_width = "450px"
    Map_height = "450px"
if (NumOfMaps ==    1):
    Map_width = "800px"
    Map_height = "800px"
    
# replace newly computed "NumOfMaps", "InitialLayers", "Map_width", "Map_height" in CONFIG.js. See the example replacement below
InitialLayers = "var InitialLayers = " + json.dumps(InitialLayers) + ";"
SubjectName = 'var SubjectName = "' + SubjectName + '";'
Maps_of_Categorical_Data = "var Maps_of_Categorical_Data = " + json.dumps(Maps_of_Categorical_Data)+ ";"
Stacked_Chart = "var Stacked_Chart = " + json.dumps(Stacked_Chart)+ ";"
Parallel_Categories_Diagram = "var Parallel_Categories_Diagram = " + json.dumps(Parallel_Categories_Diagram)+ ";"
Chord_Diagram = "var Chord_Diagram = " + json.dumps(Chord_Diagram)+ ";"
Map_width = 'var Map_width  = "' + Map_width + '";'
Map_height = 'var Map_height = "' + Map_height + '";'

contents = contents.replace("var InitialLayers = [];", InitialLayers)
contents = contents.replace('var SubjectName = "";', SubjectName)
contents = contents.replace("var Maps_of_Categorical_Data = true;", Maps_of_Categorical_Data)
contents = contents.replace("var Stacked_Chart = true;", Stacked_Chart)
contents = contents.replace("var Parallel_Categories_Diagram = true;", Parallel_Categories_Diagram)
contents = contents.replace("var Chord_Diagram = true;", Chord_Diagram)
contents = contents.replace('var Map_width  = "400px";', Map_width)
contents = contents.replace('var Map_height = "400px";', Map_height)

#Write output including the replacement above
filename_GEO_CONFIG = "QUAL_" + param['filename_suffix'] + "/data/CONFIG_"+param['filename_suffix']+".js"
ofile = open(filename_GEO_CONFIG, 'w', encoding="utf-8")
ofile.write(contents)
ofile.close()    
print (contents)

// Define the number of maps and some configuration parameters that you want to visualize.
var SubjectName = "NEIGHBORHOOD";
var InitialLayers = ["1980", "1990", "2000", "2010"];

/* Map Extent and Zoom level will be automatically adjusted when you do not define map center and zoom level */
//var Initial_map_center = [34.0522, -117.9];
//var Initial_map_zoom_level = 8;

var Maps_of_Categorical_Data = true;							//choropleth map: Maps representing categorical data
var Stacked_Chart = true;				//stacked chart: Temporal Change
var Parallel_Categories_Diagram = true;	//parallel categories diagram
var Chord_Diagram = false;					//chord diagram

var Num_Of_Decimal_Places = 2;                             // default = 2

var Map_width  = "400px";                                  // min 350px
var Map_height = "400px";                                  // min 300px

## Write GEO_JSON_XXX.js

In [8]:
# query geometry for each tract
geoid = community.gdf.columns[0]
tracts = community.gdf[[geoid, 'geometry']].copy()
tracts.drop_duplicates(subset=geoid, inplace=True)					# get unique geoid
tracts

            geoid                                           geometry
0     17031010100  POLYGON ((-87.67719899983393 42.0229420001732,...
1     17031010201  POLYGON ((-87.68465300003589 42.01948499993284...
2     17031010202  POLYGON ((-87.67682999990456 42.0194110001176,...
3     17031010300  POLYGON ((-87.67132999987956 42.01937400021001...
4     17031010400  POLYGON ((-87.66345299995595 42.01282999970476...
...           ...                                                ...
1313  17031843700  POLYGON ((-87.69682900035804 41.94966999997058...
1314  17031843800  POLYGON ((-87.64553800027846 41.80886399977385...
1315  17031843900  POLYGON ((-87.59294999974264 41.7750790002957,...
1316  17031980000  POLYGON ((-87.94024700029877 42.00717199958814...
1317  17031980100  POLYGON ((-87.76230199973747 41.79273599976665...

[1318 rows x 2 columns]

In [9]:
# open GEO_JSON.js write heading for geojson format
filename_GEO_JSON = "QUAL_" + param['filename_suffix'] + "/data/GEO_JSON_"+param['filename_suffix']+".js"
ofile = open(filename_GEO_JSON, 'w')
ofile.write('var GEO_JSON =\n')
ofile.write('{"type":"FeatureCollection", "features": [\n')

#Convert geometry in GEOJSONP to geojson format
wCount = 0
for tract in tracts.itertuples():
	feature = {"type":"Feature"}
	if (type(tract.geometry) is float):								# check is NaN?
		#print(tract.geometry)
		continue
	#print(tract.geometry)        
	feature["geometry"] = shapely.geometry.mapping(tract.geometry)
	#feature["properties"] = {geoid: tract.__getattribute__(geoid), "tractID": tract.__getattribute__(geoid)}
	feature["properties"] = {geoid: tract.__getattribute__(geoid)}
	wCount += 1
	ofile.write(json.dumps(feature)+',\n')
#print("GEO_JSON.js write count:", wCount)
# complete the geojosn format by adding parenthesis at the end.	
ofile.write(']}\n')
ofile.close()

cwd = os.getcwd()
print("Your geometry file has been created. Here is your JS file: " + cwd + '/'+ 'QUAL_' + param['filename_suffix']+'/data/GEO_CONFIG_' + param['filename_suffix']+'.js')

Your geometry file has been created. Here is your JS file: F:\Github\MapLinksPlot\PYTHON_Categorical_Data_VIZ/QUAL_Cook_Temporal_1980_1990_2000_2010_from_file/data/GEO_CONFIG_Cook_Temporal_1980_1990_2000_2010_from_file.js

## Write GEO_VARIABLES_XXXX.js

### Clustering Algorithm runs in the cell below. It might take a while depending on what clustring algorithm you picked

In [10]:
geoid       = community.gdf.columns[0]
method      = param['method']
nClusters   = param['nClusters']
years       = param['layers']
variables   = param['variables']

# filtering by years
community.gdf = community.gdf[community.gdf.year.isin(years)]
#community.gdf.to_csv(r'output.csv')   

if (method == 'kmeans' or method == 'ward' or method == 'affinity_propagation' or method == 'spectral' or method == 'gaussian_mixture' or method == 'hdbscan'):
	clusters = community.cluster(columns=variables, method=method, n_clusters=nClusters)
if (method == 'ward_spatial' or method == 'spenc' or method == 'skater' or method == 'azp' or method == 'max_p'):
	clusters = community.cluster_spatial(columns=variables, method=method, n_clusters=nClusters)		

# Use the sequence method to obtain the distance matrix of neighborhood sequences
gdf_new, df_wide, seq_dis_mat = clusters.sequence(dist_type='tran', cluster_col=method)
df_wide

c:\users\suzie\.conda\envs\geosnap\lib\site-packages\sklearn\cluster\_kmeans.py:934: FutureWarning: 'precompute_distances' was deprecated in version 0.23 and will be removed in 0.25. It has no effect
  "effect", FutureWarning)
c:\users\suzie\.conda\envs\geosnap\lib\site-packages\sklearn\cluster\_kmeans.py:939: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 0.25.
  " removed in 0.25.", FutureWarning)
c:\users\suzie\.conda\envs\geosnap\lib\site-packages\scipy\cluster\hierarchy.py:826: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

year         1980  1990  2000  2010  tran_5
geoid
17031010100     1     1     5     2       1
17031010201     2     2     1     2       1
17031010202     2     2     1     2       1
17031010300     2     2     2     2       0
17031010400     2     2     2     2       0
...           ...   ...   ...   ...     ...
17031843500     1     1     1     0       4
17031843600     5     5     5     5       0
17031843700     1     1     2     3       1
17031843800     5     5     5     5       0
17031843900     5     5     5     0       4

[1230 rows x 5 columns]

In [11]:

if (method == 'kmeans' or method == 'ward' or method == 'affinity_propagation' or method == 'spectral' or method == 'gaussian_mixture' or method == 'hdbscan'):
	clusters = community.cluster(columns=variables, method=method, n_clusters=nClusters)
if (method == 'ward_spatial' or method == 'spenc' or method == 'skater' or method == 'azp' or method == 'max_p'):
	clusters = community.cluster_spatial(columns=variables, method=method, n_clusters=nClusters)		

# Use the sequence method to obtain the distance matrix of neighborhood sequences
gdf_new, df_wide, seq_dis_mat = clusters.sequence(dist_type='tran', cluster_col=method)
df_wide

c:\users\suzie\.conda\envs\geosnap\lib\site-packages\sklearn\cluster\_kmeans.py:934: FutureWarning: 'precompute_distances' was deprecated in version 0.23 and will be removed in 0.25. It has no effect
  "effect", FutureWarning)
c:\users\suzie\.conda\envs\geosnap\lib\site-packages\sklearn\cluster\_kmeans.py:939: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 0.25.
  " removed in 0.25.", FutureWarning)
c:\users\suzie\.conda\envs\geosnap\lib\site-packages\scipy\cluster\hierarchy.py:826: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

year         1980  1990  2000  2010  tran_5
geoid
17031010100     3     4     0     3       1
17031010201     3     3     3     3       0
17031010202     3     3     3     3       0
17031010300     3     3     3     3       0
17031010400     5     5     3     5       1
...           ...   ...   ...   ...     ...
17031843500     4     4     4     2       2
17031843600     0     0     0     0       0
17031843700     3     3     3     5       2
17031843800     0     0     0     0       0
17031843900     0     0     0     2       2

[1230 rows x 5 columns]

In [12]:
df_pivot = df_wide
lastColumn = df_pivot.columns[df_pivot.shape[1]-1]					# get the last column name as like 'tran-5'
df_pivot.rename(columns={lastColumn: 'Sequence'}, inplace=True)		# change the last column name to 'Sequence'
df_pivot
#df_pivot.to_csv(r'df_pivot.csv')

year         1980  1990  2000  2010  Sequence
geoid
17031010100     3     4     0     3         1
17031010201     3     3     3     3         0
17031010202     3     3     3     3         0
17031010300     3     3     3     3         0
17031010400     5     5     3     5         1
...           ...   ...   ...   ...       ...
17031843500     4     4     4     2         2
17031843600     0     0     0     0         0
17031843700     3     3     3     5         2
17031843800     0     0     0     0         0
17031843900     0     0     0     2         2

[1230 rows x 5 columns]

In [13]:
if ('Sequence' not in param or not param['Sequence']): df_pivot.drop(columns=['Sequence'], inplace=True)
df_pivot
#df_pivot.to_csv(r'df_pivot.csv')

year         1980  1990  2000  2010
geoid
17031010100     3     4     0     3
17031010201     3     3     3     3
17031010202     3     3     3     3
17031010300     3     3     3     3
17031010400     5     5     3     5
...           ...   ...   ...   ...
17031843500     4     4     4     2
17031843600     0     0     0     0
17031843700     3     3     3     5
17031843800     0     0     0     0
17031843900     0     0     0     2

[1230 rows x 4 columns]

In [136]:
# write df_wide to GEO_VARIABLES.js
filename_GEO_VARIABLES = "QUAL_" + param['filename_suffix'] + "/data/VARIABLES_"+param['filename_suffix']+".js"
ofile = open(filename_GEO_VARIABLES, 'w')
ofile.write('var GEO_VARIABLES =\n')
ofile.write('[\n')

heading = [geoid]
heading.extend(list(map(str, df_pivot.columns.tolist())))
ofile.write('  '+json.dumps(heading)+',\n')
wCount = 0
for i, row in df_pivot.reset_index().iterrows():
	aLine = row.tolist()
	for j, col in enumerate(aLine[2:], 2):
		try:
			aLine[j] = int(col)                                  # convert float to int
		except ValueError:
			aLine[j] = -9999                                     # if Nan, set -9999
	wCount += 1 
	ofile.write('  '+json.dumps(aLine)+',\n')
#print("GEO_VARIABLES.js write count:", wCount)
ofile.write(']\n')
ofile.close()

#Print what's inside GEO_VARIABLES.js
with open(filename_GEO_VARIABLES, 'r') as f2:
    data = f2.read()
    print(data)

var GEO_VARIABLES =
[
  ["geoid", "2018"],
  ["60004", 5],
  ["60005", 0],
  ["60007", 5],
  ["60008", 0],
  ["60010", 5],
  ["60015", 5],
  ["60016", 0],
  ["60018", 0],
  ["60022", 5],
  ["60025", 5],
  ["60026", 5],
  ["60029", 5],
  ["60035", 5],
  ["60043", 5],
  ["60047", 5],
  ["60053", 5],
  ["60056", 0],
  ["60062", 5],
  ["60067", 5],
  ["60068", 5],
  ["60070", 0],
  ["60074", 0],
  ["60076", 0],
  ["60077", 0],
  ["60089", 5],
  ["60090", 0],
  ["60091", 5],
  ["60093", 5],
  ["60103", 5],
  ["60104", 3],
  ["60106", 0],
  ["60107", 0],
  ["60110", 2],
  ["60118", 5],
  ["60120", 2],
  ["60126", 5],
  ["60130", 0],
  ["60131", 0],
  ["60133", 0],
  ["60143", 5],
  ["60153", 3],
  ["60154", 5],
  ["60155", 3],
  ["60157", 5],
  ["60160", 2],
  ["60162", 3],
  ["60163", 0],
  ["60164", 2],
  ["60165", 2],
  ["60169", 0],
  ["60171", 0],
  ["60172", 5],
  ["60173", 4],
  ["60176", 0],
  ["60191", 0],
  ["60192", 5],
  ["60193", 5],
  ["60194", 0],
  ["60195", 4],
  ["60201", 4],
  ["60202", 0],
  ["60203", 5],
  ["60301", 4],
  ["60302", 0],
  ["60304", 5],
  ["60305", 5],
  ["60402", 2],
  ["60406", 2],
  ["60409", 3],
  ["60411", 3],
  ["60415", 0],
  ["60417", 5],
  ["60419", 3],
  ["60422", 3],
  ["60423", 5],
  ["60425", 3],
  ["60426", 1],
  ["60428", 3],
  ["60429", 3],
  ["60430", 5],
  ["60438", 3],
  ["60439", 5],
  ["60441", 5],
  ["60443", 3],
  ["60445", 0],
  ["60448", 5],
  ["60449", 5],
  ["60452", 5],
  ["60453", 0],
  ["60455", 0],
  ["60456", 0],
  ["60457", 0],
  ["60458", 2],
  ["60459", 0],
  ["60461", 3],
  ["60462", 5],
  ["60463", 5],
  ["60464", 5],
  ["60465", 0],
  ["60466", 3],
  ["60467", 5],
  ["60469", 2],
  ["60471", 3],
  ["60472", 1],
  ["60473", 3],
  ["60475", 0],
  ["60476", 0],
  ["60477", 5],
  ["60478", 3],
  ["60480", 5],
  ["60482", 0],
  ["60487", 5],
  ["60491", 5],
  ["60501", 2],
  ["60513", 0],
  ["60517", 5],
  ["60521", 5],
  ["60523", 5],
  ["60525", 5],
  ["60526", 5],
  ["60527", 5],
  ["60534", 0],
  ["60546", 5],
  ["60558", 5],
  ["60601", 4],
  ["60602", 4],
  ["60603", 4],
  ["60604", 4],
  ["60605", 4],
  ["60606", 4],
  ["60607", 4],
  ["60608", 2],
  ["60609", 2],
  ["60610", 4],
  ["60611", 4],
  ["60612", 1],
  ["60613", 4],
  ["60614", 4],
  ["60615", 4],
  ["60616", 4],
  ["60617", 1],
  ["60618", 0],
  ["60619", 1],
  ["60620", 1],
  ["60621", 1],
  ["60622", 4],
  ["60623", 2],
  ["60624", 1],
  ["60625", 0],
  ["60626", 4],
  ["60628", 1],
  ["60629", 2],
  ["60630", 0],
  ["60631", 5],
  ["60632", 2],
  ["60633", 2],
  ["60634", 0],
  ["60636", 1],
  ["60637", 1],
  ["60638", 0],
  ["60639", 2],
  ["60640", 4],
  ["60641", 0],
  ["60642", 4],
  ["60643", 3],
  ["60644", 1],
  ["60645", 0],
  ["60646", 5],
  ["60647", 4],
  ["60649", 1],
  ["60651", 1],
  ["60652", 3],
  ["60653", 1],
  ["60654", 4],
  ["60655", 5],
  ["60656", 0],
  ["60657", 4],
  ["60659", 0],
  ["60660", 4],
  ["60661", 4],
  ["60706", 0],
  ["60707", 0],
  ["60712", 5],
  ["60714", 0],
  ["60803", 0],
  ["60804", 2],
  ["60805", 5],
  ["60827", 1],
]

### Creating URL to view the visualizatino result

In [14]:
servers = list(notebookapp.list_running_servers())
servers1 = 'https://cybergisx.cigi.illinois.edu'+servers[0]["base_url"]+ 'view'
servers2 = 'https://cybergisx.cigi.illinois.edu'+servers[0]["base_url"]+ 'edit'      
cwd = os.getcwd()
prefix_cwd = "/home/jovyan/work"
cwd = cwd.replace(prefix_cwd, "")

# This is for Jupyter notebbok installed in your PC
local_dir1 = cwd
local_dir2 = cwd  

#This is for CyberGISX. Uncomment two command lines below when you run in CyberGIX Environment
#local_dir1 = servers1 + cwd
#local_dir2 = servers2 + cwd   

#print(local_dir)
fname =urllib.parse.quote('index.html')
template_dir = os.path.join(local_dir1, 'QUAL_' + param['filename_suffix'])
#url = 'file:' + os.path.join(template_dir, fname)
url = os.path.join(template_dir, fname)    
webbrowser.open(url)
print('To see visualization of your analysis, click the URL below:')
print(url)    
print('Advanced options are available in ')  
print(local_dir2 + '/'+ 'QUAL_' + param['filename_suffix']+'/data/GEO_CONFIG_' + param['filename_suffix']+'.js')

To see visualization of your analysis, click the URL below:
F:\Github\MapLinksPlot\PYTHON_Categorical_Data_VIZ\QUAL_Cook_Temporal_1980_1990_2000_2010_from_file\index.html
Advanced options are available in
F:\Github\MapLinksPlot\PYTHON_Categorical_Data_VIZ/QUAL_Cook_Temporal_1980_1990_2000_2010_from_file/data/GEO_CONFIG_Cook_Temporal_1980_1990_2000_2010_from_file.js